# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/database/*.db
backend/uploads/*
!backend/uploads/.gitkeep
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
